version: '3.8'

services:
  redbot:
    build: .
    container_name: redbot
    env_file:
      - .env
    volumes:
      - ./sent_posts.db:/app/sent_posts.db
      - ./logs:/app/logs
      - ./config.yaml:/app/config.yaml
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
